.seasonal-container {
  background: white;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.seasonal-item {
  border-left: 1px solid $baby-blue;
  border-right: 1px solid $baby-blue;
  border-top: 1px solid $baby-blue;
  height: 20rem;
  margin: 5% 2.5%;
  width: 50%;
}

.seasonal-item__desc {
  font-size: 2.4rem;
  height: 80%;
  line-height: 15.9rem;
  text-align: center;
  width: 100%;
}

.seasonal-item__button {
  background-color: $baby-blue;
  height: 20%;
  line-height: 4rem;
  width: 100%;
}